* {
  margin: 0;
  padding: 0;
  font-family: Arial;
}
body {
  background-image: linear-gradient(rgba(0,0,0,0.269), #00ccff), url('/img/bg.png');
  height: 210vh;
  background-size: cover;
  width: auto;
}
.navbar * {
  background-color: #c9c9c9;
  background-color: ;
  background-size: cover;
}
.navbar a {
 font-size: 24px;
 text-decoration: none;
 color: black;
}

.navbar a:hover {
 font-size: 24px;
 text-decoration: none;
 color: black;
 background-color: darkgrey;
}

.navbar ul li{
  list-style: none;
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  text-overflow: none;
}
.maintitle {
  margin-top: 200px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.social {
  margin-top: 100px;
}

.flex-container {
  display: flex;
  margin: 0;
  padding: 0;
}
.flex-container li {
  list-style: none;
  flex-grow: 2;
}
/* Tested only in latest version of Chrome, Firefox, Edge, and IE as of July 2018. I first created this pen in July 2014. */
.social {
  background-color: grey;
  list-type: none;
  display: inline-block;
}

.social * {
  color: white;
  margin-bottom: 100px;
  margin-top: 100px;
}
.steam {
  order: 3;
}
.youtube {
  order: 1;
}

.twitch {
  order: 2;
}

.reddit {
  order: 4;
}

.buttons a {
  background-color: #04AA6D;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 4px 2px;
  border-radius: 2px;
  transition: 250ms;
  margin-top: 100px;
}

.buttons a:hover {
  background-color: #04AA6D;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 50%;
  transition: 250ms;
}
.gif {
  float: right;
}
.about-me {
  background-color: darkblue;
  color: white;
  margin-top: 200px;
}

.about-me h2{
  margin-bottom: 40px;
}

.rules {
  background-color: rgb(88,101,242);
}
.rules h3 {
  margin-bottom: 40px;
}

.rules h4 {
  margin-bottom: 40px;
}
.rules span {
  color: red;
}
.rules * {
  color: white;
}
.footer {
  background-color: black;
  color: white;
  margin-bottom: 10px;
}
